.Contact {
  &__Row1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & > div {
      width: 40%;
    }
  }

  &__Submit {
    color: white;
    background: #4e64c8;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0px auto 10px 0;
    width: fit-content;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .Contact {
    &__Row1 {
      flex-direction: column;

      // & > div {
      //   width: 80vw;
      //   margin: 5px 0;
      // }
    }
  }
}
