.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flex-centered {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.gradient-button {
  border: 1px solid #e5e5e5 !important;
  background-color: white !important;
  color: rgba(78, 36, 147, 1) !important;

  transition: all 500ms;
  &:hover {
    background: linear-gradient(
      90deg,
      rgba(46, 152, 172, 1) 0%,
      rgba(63, 85, 180, 1) 60%,
      rgba(78, 36, 147, 1) 100%
    ) !important;
    color: rgba(247, 247, 247, 0.945) !important;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.red {
  color: #f15252;
}
